html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

ul {
    list-style-type: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


.logo-inner {
    width: 100%;
    max-width: 178px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 16px;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(23, 58, 86, 1);
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-left: auto;
    margin-right: 73px;
}

.menu {
    display: flex;
    gap: 30px;
    padding: 0;
}

.menu-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
    text-decoration: none;
}

.menu-item-active {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
    text-decoration: none;
}

.reg-button {
    display: flex;
    gap: 21px;
}

.reg-button-f {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    background-color: #fff;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    flex-shrink: 0;
}

.reg-button-s {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: 0;
    width: 113px;
    height: 42px;
    background: #02897a;
}

.hero {
    padding-top: 25px;
}

.hero-inner {
    display: flex;
    gap: 35px;
    align-items: center;
    width: 100%;
}

.hero-content {
    flex-direction: column;
    gap: 18px;
    width: 100%;
    max-width: 465px;
}

.hero-content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #22343d;
    margin-bottom: 0px;
    width: 100%;
    max-width: 372px;
}

.hero-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #22343d;
    width: 100%;
    max-width: 465px;
}

.hero-button {
    display: flex;
    gap: 30px;
    margin-top: 45px;
}

.hero-button-f {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: 0;
    width: 178px;
    height: 53px;
    background: #02897a;
}

.hero-button-v {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    display: flex;
    align-items: center;
    gap: 8.66px;
}

.hero-image {
    width: 610px;
    height: auto;
}

.product {
    padding-top: 100px;
}

.product-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-info {
    margin-bottom: 50px;
}

.product-info ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
}

.product-info ul h3 {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}

.product-info ul p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    width: 100%;
    max-width: 490px;
}

.product-button button {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: 0;
    width: 175px;
    height: 53px;
    background: #02897a;
}